
h4 {
    font-family: sans-serif;
    font-size: 20px;
}

h1 {
    font-family: sans-serif;
    line-height: 50px;
    font-size: 50px;
}

img {
border-radius: 50px;
  padding: 20px; 
  width: 500px;
  height: 800px; 
  
}

body {
    background-color: rgb(252, 245, 231);
    width: 200;
}